@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

body{
  @apply bg-neutral-950
}

/* simple scroll bar */
nav::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
nav::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #5555;
}

/* Handle on hover */
nav::-webkit-scrollbar-thumb:hover {
  background: #6666;
}

.scrollbar::-webkit-scrollbar {
  height: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #5555;
}

/* Handle on hover */
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #6666;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.border-bottom{
  @apply relative after:absolute after:bottom-0 after:left-0 after:right-0 after:border-b after:border-neutral-500
}
